// Menu Item
//
// The main menu module displays menu links
//
// .menu__item
//
// Markup: menu-item.twig
//
// Style guide: 6.2.1

$chroma: add-colors('primary', (
		menu-item-text:                 'white',
		menu-item-border-color-active:  'white',
		menu-item-border-color-hover:   rgba(255, 255, 255, .2),
));

.menu__item,
%menu__item {
	display: block;
	padding: 10px;
	color: color(menu-item-text);
	text-decoration: none;

	&:hover,
	&--active {
		text-decoration: none;
		cursor: pointer;
		border-bottom: 2px solid color(menu-item-border-color-hover);
	}

	&--active {
		border-bottom: 2px solid color(menu-item-border-color-active);
	}
}
