<section class="grid">
	<article class="grid__half grid--demo">Half</article>
	<article class="grid__half grid--demo">Half</article>
</section>
<section class="grid">
	<article class="grid__two-thirds grid--demo">Two Thirds</article>
	<article class="grid__one-third grid--demo">One Third</article>
</section>
